@import "fontawesome5/fontawesome";
@import "fontawesome5/brands";
@import "fontawesome5/regular";
@import "fontawesome5/solid";
@import 'typography';

// Variable
$color: #1fc4ff;
$text_color: #1f1f1f;

// Breakpoint
$large: 1024px;
$medium: 768px;
$small:  570px;


// Convert px to (r)em
$font-size: 16;

@function rem-calc($size, $font-size : $font-size) {
	$font-size: $font-size;
	$remSize: $size / $font-size;
	@return #{$remSize}rem;
}

@function em-calc($size, $font-size : $font-size) {
	$font-size: $font-size;
	$remSize: $size / $font-size;
	@return #{$remSize}em;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes bounce-in {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% { transform: scale(.9); }
	100% { transform: scale(1); }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@keyframes swing {
	20% { transform: rotate(15deg); }
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }
	80% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes hithere {
	30% { transform: scale(1.1); }
	40%, 60% { transform: rotate(-20deg) scale(1.1); }
	50% { transform: rotate(20deg) scale(1.1); }
	70% { transform: rotate(0deg) scale(1.1); }
	100% { transform: scale(1); }
}

@keyframes zoom-in-out {
	0% {
		transform: scale(.85, .85);
		opacity: .5;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes wobble {
	0% { transform: translateX(0%); }
	15% { transform: translateX(-25%) rotate(-5deg); }
	30% { transform: translateX(20%) rotate(3deg); }
	45% { transform: translateX(-15%) rotate(-3deg); }
	60% { transform: translateX(10%) rotate(2deg); }
	75% { transform: translateX(-5%) rotate(-1deg); }
	100% { transform: translateX(0%); }
}

.ymc-smart-filter-container {
	font-family: inherit;
	font-weight: inherit;
	box-sizing: border-box;
	min-height: 200px;
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	* {
		box-sizing: border-box;
	}

	*:active, *:focus {
		outline: none;
		box-shadow: none;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	.far {
		font-size: 18px;
	}

	.notice {
		border: none;
		box-shadow: none;
		color: #eb2b2b;
	}

	.loading {
		.post-entry {
			opacity: .5;
		}
	}

	.preloader {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 50%;
		z-index: 9;
		&--load {
			bottom: 5%;
			transform: translateX(-50%);
		}
		&--numeric {
			top: 25%;
			transform: translate(-50%, -50%);
		}
	}

	.ymc-notification {
		grid-column: 1/-1;
		text-align: center;
		color: #222;
		font-size: 16px;
	}

	// Filters styles
	.filter-layout1 {
		.filter-entry {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0;
			.filter-item {
				&:last-child {
					margin-right: 0;
				}
				.filter-link {
					display: inline-flex;
					align-items: center;
					padding: 10px 15px;
					font-size: 16px;
					text-decoration: none;
					line-height: normal;
					color: #fff;
					background-color: #098ab8;
					font-weight: 100;
					margin: 0 10px 10px 0;
					&:hover {
						text-decoration: none;
					}
					&.active {
						color: #222;
						font-weight: 600;
					}
					i {
						font-size: 15px;
						margin-right: 7px;
					}
					&.right-icon {
						flex-direction: row-reverse;
						i {
							margin-right: 0;
							margin-left: 7px;
						}
					}
				}
			}
		}
		.posts-found {
			margin-bottom: 20px;
			font-size: 14px;
			&:empty {
				display: none;
			}
		}
	}

	.filter-layout2 {
		.filter-entry {
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0;
			.group-filters {
				margin: 0;
				.name-tax {
					font-size: 18px;
					text-transform: uppercase;
					font-weight: 600;
					border-bottom: 2px solid;
					display: inline-block;
					padding-bottom: 3px;
					margin: 0;
				}
				.sub-filters {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}
			.filter-item {
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				.filter-link {
					display: inline-flex;
					align-items: center;
					padding: 10px 15px;
					font-size: 16px;
					text-decoration: none;
					line-height: normal;
					color: #fff;
					background-color: #098ab8;
					margin: 10px 5px;
					&:hover {
						text-decoration: none;
					}
					&.active {
						color: #222;
						font-weight: 600;
					}
					i {
						font-size: 15px;
						margin-right: 7px;
					}
					&.right-icon {
						flex-direction: row-reverse;
						i {
							margin-right: 0;
							margin-left: 7px;
						}
					}
				}
			}
		}
		.posts-found {
			margin-bottom: 20px;
			font-size: 14px;
			&:empty {
				display: none;
			}
		}
	}

	.filter-layout3 {

		.filter-entry {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			margin-bottom: 20px;
		}
		.posts-found {
			margin-bottom: 20px;
			font-size: 14px;
			&:empty {
				display: none;
			}
		}

		.btn-all {
			display: inline-block;
			border: 1px solid #141518;
			padding: 10px 10px;
			font-size: 16px;
			margin-right: 10px;
			margin-bottom: 10px;
			text-decoration: none;
			color: #141518;
			background: #fff;
		}

		.dropdown-filter {
			font-size: 16px;
			position: relative;
			margin-right: 10px;
			margin-bottom: 10px;
			max-width: 300px;
			width: 100%;
			display: inline-flex;
			&:last-child {
				margin-right: 0;
			}
			.menu-active {
				border: 1px solid #141518;
				padding: 10px 20px 10px 10px;
				width: 100%;
				position: relative;
				cursor: pointer;
				text-transform: capitalize;
				background: #fff;
				.arrow {
					position: absolute;
					right: 13px;
					top: 50%;
					z-index: 1;
					width: 0;
					height: 0;
					border: solid #141518;
					border-width: 0 3px 3px 0;
					padding: 3px;
					transform: translateY(-50%) rotate(45deg);
					transition: .3s;
					&.open {
						transform: rotate(227deg);
					}
				}
			}
			.menu-passive {
				display: none;
				max-width: 300px;
				margin-top: 15px;
				padding: 30px 20px 15px 20px;
				background: #141518;
				color: #FAF7ED;
				position: absolute;
				left: 0;
				top: 40px;
				width: 100%;
				z-index: 2;
				transition: .3s;
				&:before {
					content: '';
					position: absolute;
					width: 15px;
					height: 15px;
					background: #141518;
					left: 10px;
					top: -14px;
					clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
				}

				.btn-close {
					position: absolute;
					right: 15px;
					top: 15px;
					font-size: 14px;
					font-style: normal;
					cursor: pointer;
				}

				&__item {
					padding: 8px 0;
					i {
						font-size: 15px;
						margin-right: 7px;
					}
					.menu-link {
						color: #fff;
						position: relative;
						padding-left: 25px;
						font-size: 14px;
						display: inline-block;
						word-break: break-word;
						line-height: normal;
						text-decoration: none;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 17px;
							height: 17px;
							border: 1px solid #fff
						}
						&:after {
							content: '';
							position: absolute;
							left: 4px;
							top: 48%;
							width: 9px;
							height: 5px;
							border-radius: 1px;
							border-left: 3px solid #FAF7ED;
							border-bottom: 3px solid #FAF7ED;
							transform: translateY(-50%) rotate(-45deg);
							opacity: 0;
							transition: .3s;
						}
						&:hover {
							text-decoration: none;
						}
						&.active {
							&:after {
								opacity: 1;
							}
						}
						&.isDisabled {
							pointer-events: none;
							color: #adadad;
						}

						.count {
							position: relative;
							display: inline-block;
							width: 25px;
							text-align: center;
							margin-left: 5px;
							&:before, &:after {
								position: absolute;
							}
							&:before {
								content: '( ';
								left: 0;
								top: 0;
							}
							&:after {
								content: ' )';
								right: 0;
								top: 0;
							}
						}
					}
				}
			}
		}

		.selected-items {
			width: 100%;
			&:empty {
				display: none;
			}
			.item {
				padding: 7px 30px 7px 15px;
				margin: 0 5px 5px 0;
				display: inline-block;
				font-size: 12px;
				background: #000;
				color: #fff;
				border-radius: 15px;
				position: relative;
				line-height: 1;
				small {
					position: absolute;
					right: 7px;
					top: 50%;
					transform: translateY(-50%);
					width: 11px;
					height: 11px;
					font-size: 11px;
					display: inline-block;
					text-align: center;
					cursor: pointer;
					line-height: 1;
				}
			}
		}
	}

	.alphabetical-layout {
		.filter-entry {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			list-style: none;
			margin: 0 0 20px;
			padding: 0;
			.filter-item {
				a {
					font-size: 16px;
					background-color: #098ab8;
					color: #fff;
					display: inline-block;
					padding: 10px 15px;
					border: 1px solid #fff;
					transition: .3s;
					&:hover {
						text-decoration: none;
						background-color: #141518;
					}
					&.active {
						background-color: #141518;
					}
				}
			}
		}
	}

	.filter-custom-layout {
		.cf-wrp {
			border: 1px solid #ccc;
			margin-bottom: 15px;
			padding: 15px;
		}
		.head-filter {
			font-size: 18px;
			margin-bottom: 10px;
			padding-bottom: 5px;
			font-weight: 500;
		}
		.inform {
			color: #949494;
			line-height: 1.6;
			font-size: 12px;
			.doc-text {
				color: #098ab8;
				font-weight: 500;
				border: 0.5px dashed #098ab8;
				padding: 1px 5px;
				font-size: 12px;
			}
			a {
				color: #098ab8;
				text-decoration: underline;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}


	// Posts style
	.container-posts {
		position: relative;
		min-height: 180px;

		.bounce {
			animation: bounce 1s ease;
		}
		.bounce-in {
			animation: bounce-in 1s ease;
		}
		.fade-in {
			animation: fade-in .7s linear;
		}
		.fade-in-down {
			animation: fade-in-down 1s ease
		}
		.grow {
			animation: grow 1s ease;
		}
		.swing {
			transform-origin: top center;
			animation: swing 1s ease;
		}
		.shake {
			animation: shake .7s ease;
		}
		.hithere {
			animation: hithere 1s ease;
		}
		.zoom-in-out {
			animation: zoom-in-out .7s ease-out;
		}
		.wobble {
			animation: wobble 1s ease;
		}


		// Post Layout 1
		.post-layout1 {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;
			.ymc-post-layout1 {
				position: relative;
				padding: 20px;
				border: 1px solid #bbb;
				.media {
					margin: 0 0 20px 0;
					overflow: hidden;
					img {
						width: 100%;
						height: 220px;
						object-fit: cover;
					}
				}
				.category {
					margin-bottom: 20px;
					.cat-inner {
						font-size: 12px;
						line-height: 1.3;
						border: none;
						display: inline-block;
						padding: 3px 10px;
						background: #000;
						margin-right: 5px;
						margin-bottom: 5px;
						color: white;
					}
				}
				.title {
					font-size: 22px;
					font-weight: 600;
					margin-bottom: 10px;
					line-height: 1.3;
				}
				.date {
					font-size: 14px;
					margin: 0 15px 10px 0;
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
					display: inline-block;
					i {
						margin-right: 5px;
					}
				}
				.author {
					font-size: 14px;
					margin-bottom: 10px;
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
					display: inline-block;
				}
				.excerpt {
					font-size: 16px;
					line-height: 1.3;
					margin-bottom: 10px;
				}
				.read-more {
					text-align: right;
					.btn {
						display: inline-block;
						text-decoration: none;
						background: #000;
						color: white;
						padding: 8px 15px;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: normal;
						line-height: 1.3;
						border-radius: 0;
						border: none;
					}
				}
				&:hover {
					img {
						transform: scale(1.2);
						transition: .3s;
					}
				}
			}
		}

		// Post Layout 2
		.post-layout2 {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;
			.ymc-post-layout2 {
				position: relative;
				padding: 20px 20px 40px 20px;
				border: 1px solid #bbb;
				.title {
					font-size: 22px;
					font-weight: 600;
					margin-bottom: 10px;
					line-height: 1.3;
				}
				.excerpt {
					font-size: 16px;
					line-height: 1.4;
					margin-bottom: 10px;
				}
				.read-more {
					position: absolute;
					right: 15px;
					bottom: 10px;
					.btn {
						display: inline-block;
						color: #000;
						font-size: 14px;
						font-weight: 600;
						letter-spacing: normal;
						line-height: 1.3;
						border-radius: 0;
						text-decoration: underline;
						text-decoration-thickness: 1px;
						text-underline-offset: 2px;
						border: none;
						transition: .3s;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		// Post Layout 3
		.post-layout3 {
			font-family: Poppins;
			.post-item {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 50px;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
			}
			.ymc-col-1 {
				flex: 1 0 25%;
				margin-right: 3%;
				@media screen and (max-width: 1024px) {
					flex: 1 0 100%;
					padding: 15px;
				}
			}
			.ymc-col-2 {
				flex: 1 0 70%;
				@media screen and (max-width: 1024px) {
					flex: 1 0 100%;
					padding: 15px;
				}
			}
			.media {
				margin: 0;
				padding: 0;
				overflow: hidden;
				img {
					width: 100%;
					height: 300px;
					object-fit: cover;
					object-position: 50% 50%;
					transition: .3s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
			.title {
				font-weight: 700;
				font-size: 26px;
				margin-bottom: 20px;
				margin-top: 10px;
				line-height: 1.35;
			}
			.category {
				display: flex;
				.cat-inner {
					padding: 5px 10px;
					color: #fff;
					background-color: #141518;
					font-size: 12px;
					margin: 0 5px 20px 0;
				}
			}
			.excerpt {
				font-size: 16px;
				line-height: 1.35;
				font-weight: 400;
				margin-bottom: 30px;
			}
			.btn {
				padding: 10px 20px;
				color: #fff;
				background-color: #141518;
				font-size: 12px;
				margin: 0 5px 20px 0;
				border-radius: 0;
				transition: .3s;
				&:hover {
					background-color: #fff;
					color: #141518;
					border: 1px solid #141518;
				}
			}
		}

		// Post Masonry Layout
		.post-masonry {
			font: inherit;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;
			.post-item {
				position: relative;
				padding: 15px;
				border: 1px solid #bbb;
				width: 23%;
				@media screen and (max-width: 1023.97px) {
					width: 28%;
				}
				@media screen and (max-width: 767.97px) {
					width: 40%;
				}
				@media screen and (max-width: 539.97px) {
					width: 100%;
				}
				.media {
					margin: 0 0 20px 0;
					overflow: hidden;
					img {
						width: 100%;
						height: 220px;
						object-fit: cover;
					}
				}
				.title {
					font-size: 22px;
					font-weight: 600;
					margin-bottom: 10px;
					line-height: 1.3;
				}
				.excerpt {
					font-size: 16px;
					line-height: 1.3;
					margin-bottom: 10px;
				}
				.read-more {
					text-align: right;
					.btn {
						display: inline-block;
						color: #000;
						font-size: 14px;
						font-weight: 600;
						letter-spacing: normal;
						line-height: 1.3;
						border-radius: 0;
						text-decoration: underline;
						text-decoration-thickness: 1px;
						text-underline-offset: 2px;
						border: none;
						transition: .3s;
						&:hover {
							text-decoration: none;
						}
					}
				}
				&:hover {
					img {
						transform: scale(1.2);
						transition: .3s;
					}
				}
			}
		}

		// Custom Masonry Layout
		.post-custom-masonry {
			font: inherit;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;
			.post-item {
				position: relative;
				padding: 15px;
				width: 23%;
				font-size: 14px;
				line-height: 1.3;
				color: #222;
				border: 1px solid #ccc;
				background: none;
				word-break: break-word;
				@media screen and (max-width: 1023.97px) {
					width: 28%;
				}
				@media screen and (max-width: 767.97px) {
					width: 40%;
				}
				@media screen and (max-width: 539.97px) {
					width: 100%;
				}
				.head-post {
					font-size: 18px;
					border-bottom: 1px solid #ccc;
					margin-bottom: 10px;
					padding-bottom: 5px;
					font-weight: 500;
				}
				.inform {
					color: #949494;
					line-height: 1.6;
					.doc-text {
						font-size: 12px;
						color: #098ab8;
						font-weight: 500;
						border: 0.5px dashed #098ab8;
						padding: 1px 5px;
						display: block;
					}
				}
				a {
					display: block;
					font-size: 12px;
					color: #098ab8;
					text-decoration: underline;
					margin-top: 5px;
				}
				&:nth-child(even) {
					min-height: 280px;
					.head-post {
						padding-top: 20px;
					}
				}
			}
		}

		// Custom Post Layout
		.post-custom-layout {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;
			.post-item {
				padding: 20px 10px;
				font-size: 14px;
				line-height: 1.3;
				color: #222;
				border: 1px solid #ccc;
				background: none;
				word-break: break-word;
				.head-post {
					font-size: 18px;
					border-bottom: 1px solid #ccc;
					margin-bottom: 10px;
					padding-bottom: 5px;
					font-weight: 500;
				}
				.inform {
					color: #949494;
					line-height: 1.6;
					.doc-text {
						font-size: 12px;
						color: #098ab8;
						font-weight: 500;
						border: 0.5px dashed #098ab8;
						padding: 1px 5px;
						display: block;
					}
				}
				a {
					display: block;
					font-size: 12px;
					color: #098ab8;
					text-decoration: underline;
					margin-top: 5px;
				}
			}
		}
	}

	// Pagination
	.ymc-pagination {
		list-style: none;
		margin: 0;
		padding: 0;
		min-height: 0;
	}

	.pagination-numeric {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: inline-block;
				padding: 10px 10px;
				text-decoration: none;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 0;
				min-width: 30px;
				font-size: 14px;
				line-height: 1;
				&:hover {
					text-decoration: none;
				}
			}
			.current {
				color: #098ab8;
				font-weight: 600;
				font-size: 16px;
				width: 30px;
				height: 15px;
				padding: 0;
				display: inline-block;
				line-height: 1;
				background: none;
				text-align: center;
			}
		}
	}

	.pagination-load-more {
		text-align: center;
		.btn-load {
			padding: 5px 10px;
			text-decoration: none;
			transition: .3s;
			color: #098ab8;
			border: 1px solid #098ab8;
			font-size: 14px;
		}
	}

	// Search
	.search-layout {
		.search-form {
			.form-inner {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 20px;
				width: 100%;
				.component-input {
					max-width: 50%;
					width: 100%;
					position: relative;
					.results {
						display: none;
						position: absolute;
						top: 40px;
						left: 0;
						width: 100%;
						border: 1px solid #d0d0d0;
						border-top: none;
						min-height: 50px;
						z-index: 9;
						background: #fff;
						padding: 20px;
						margin: 0;
						list-style: none;
						max-height: 250px;
						overflow: auto;
						font-size: 14px;
						li {
							margin-bottom: 5px;
							a {
								text-decoration: none;
								font-size: 14px;
								line-height: 1.3;
								color: #969696;
								b {
									color: #000;
								}
							}
						}

						&::-webkit-scrollbar {
							width: 5px;
						}
						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							background: #000;
						}
						&::-webkit-scrollbar-track {
							border-radius: 5px;
						}

						/*** Firefox ***/
						scrollbar-color: rgba(255, 255, 255, 0);
						scrollbar-width: thin;
					}
				}
			}
			&__input {
				font-family: "Poppins";
				width: 100%;
				height: 40px;
				padding: 0 20px;
				border: 1px solid #c6c6c6;
				border-radius: 0;
				color: #000;
				font-size: 16px;
				box-sizing: border-box;
			}

			&__submit {
				font-family: "Poppins";
				border: 1px solid #098ab8;
				border-radius: 0;
				background: #098ab8;
				color: #fff;
				line-height: 1.25;
				border-left: none;
				height: 40px;
				padding: 0 15px;
				font-size: 16px;
				font-weight: 500;
				cursor: pointer;
			}

			.clear {
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				display: none;
				i {
					color: #098ab8;
					font-size: 14px;
				}
			}
		}
	}

	// Sort
	.sort-container {
		display: flex;
		justify-content: left;
		align-items: center;
		padding: 10px 0;
		.dropdown-filter {
			font-size: 16px;
			position: relative;
			margin-right: 10px;
			margin-bottom: 10px;
			max-width: 300px;
			width: 100%;
			display: inline-flex;
			&:last-child {
				margin-right: 0;
			}
			.menu-active {
				border: 1px solid #141518;
				padding: 10px 20px 10px 10px;
				width: 100%;
				position: relative;
				cursor: pointer;
				text-transform: capitalize;
				background: #fff;
				.arrow-orderby {
					position: relative;
					font-weight: normal;
					&:after {
						content: '';
						position: absolute;
						right: -15px;
						top: -2px;
					}
					&.desc:after {
						content: '\2193';
					}
					&.asc:after {
						content: '\2191';
					}
				}
				.arrow {
					position: absolute;
					right: 13px;
					top: 50%;
					z-index: 1;
					width: 0;
					height: 0;
					border: solid #141518;
					border-width: 0 3px 3px 0;
					padding: 3px;
					transform: translateY(-50%) rotate(45deg);
					transition: .3s;
					&.open {
						transform: rotate(227deg);
					}
				}
			}
			.menu-passive {
				display: none;
				max-width: 300px;
				margin-top: 15px;
				padding: 30px 20px 15px 20px;
				background: #474747;
				color: #FAF7ED;
				position: absolute;
				left: 0;
				top: 40px;
				width: 100%;
				z-index: 2;
				transition: .3s;
				&:before {
					content: '';
					position: absolute;
					width: 15px;
					height: 15px;
					background: #474747;
					left: 10px;
					top: -14px;
					clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
				}

				.btn-close {
					position: absolute;
					right: 15px;
					top: 15px;
					font-size: 14px;
					font-style: normal;
					cursor: pointer;
				}

				&__item {
					padding: 8px 0;
					.menu-link {
						color: #fff;
						position: relative;
						font-size: 14px;
						display: inline-block;
						word-break: break-word;
						line-height: 1.35;
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
						&:after {
							content: '';
							position: absolute;
							right: -15px;
							top: 0;
						}
						&.desc:after {
							content: '\2193';
						}
						&.asc:after {
							content: '\2191';
						}
					}
				}
			}
		}
	}
}






